<html>
    <body>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width = device-width, initial-scale = 1.0">
        <head>
            <title> Lista de tarefas com node</title>
            <link href="/public/style.css" rel="stylesheet" />
            <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        </head>


        <div class="tarefas">
            <div class="cta">
                <h3>To-Do List</h3>
            </div >


                
                <form method="post">
                    <input type="text" name="tarefa" class="texto"
                     placeholder="Digite aqui algo pendente"
                     maxlength="47"/>
                    <input type="submit" name="acao" value="+" class="submit"/>
                </form>

                <div class="tarefas-atuais">
                    <% for(let i = 0; i < tarefasList.length; i++){ %>

                        <p><%= tarefasList[i]%>  <a href='/deletar/<%=i%>'> ❌</a></p>
    
    
                    <%} %> 
                </div>
                
                
        </div>
    </body>
</html>